/* Projects page*/
.project {
  display: float;
  background-color: #f8f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 20px;
}
.project p,h3 {
  text-shadow: 1px 1px 2px #090202;
  color: #080707; 
}
.project:hover {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  transform: translateY(-5px);
}
.project h3 {
  margin-top: 0;
}
.project p {
  font-size: 14px;
}
.project a {
  display: block;
  color: #007bff;
  margin-bottom: 10px;
  text-decoration: none;
}
/* About Page */

.about-page {
  max-width: 800px;
  margin: 0 auto;
  text-align: center; 
}
.about-page h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.about-page p {
  font-size: 1.2rem;
  line-height: 1.5;
} 
.links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.links a {
  margin: 0 10px; 
  font-size: 1.1rem;
  color: #0077cc;
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}

/* contacts page */
.contact-page {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.contact-page h1 {
  font-size: 2rem;
} 
.contact-page p {
  margin-bottom: 1rem;
}
.contact-page input[type="text"],
.contact-page input[type="email"]{
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
.contact-page label {
  display: block; 
  font-weight: 600; 
  margin-bottom: 0.5rem;
}
.contact-page textarea {
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem;
  resize: vertical;
}
.contact-page input:focus {
  outline: none;
  border-color: #4c9cf5;
} 
.contact-page button[type="submit"] {
  padding: 0.25rem 0.25rem;
   font-size: 0.85rem;
  width: 100%;
  background-color: #05090d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact-page button:hover {
  background-color: #11161b;
}
/* Form */
.contact-page form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.contact-page input, 
.contact-page textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* Header page css */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; 
}
header nav ul li{
  margin:0 10px;
}
.logo img {
  height: 1px;
}
h1 {
  margin: 0;
  font-size: 0.2rem;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  margin-left: 1rem;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* Footer content */
.footer-content{
   display: flex; 
  justify-content: space-between;
  align-items: center;
 padding: 20px;
 background-color: #333;
  color: #fff;
}
/* Copyright text */ 
.footer-content p {
  margin: 0;
}

/* Nav links */
.footer-content nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.footer-content nav li {
  margin: 0 10px;
}
.footer-content nav a {
  color: #fff;
  text-decoration: none;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  /* height: 6em; */
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
